{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
    <h1>Productos</h1>
    <form method="POST" action="{% url 'pruebas:select_productos' %}">
        {% csrf_token %}
        {% for categoria, productos in categorias.items %}
            <select name="producto" id="producto_{{ forloop.counter }}">
                <option disabled selected>{{ categoria }}</option>
                {% for producto in productos %}
                    <option value="{{ producto.id }}">{{ producto.nombre }} ${{ producto.precio }}</option>
                {% endfor %}
            </select>
        {% endfor %}
        <input type="number" name="cantidad" placeholder="Cantidad" value="1" min="1" required>
        <button type="submit">Agregar</button>
    </form>
    {% include "pruebas/components/select_productos/agregar_producto.html" %}
    <a href="{% url 'core:home' %}">Home</a>
{% endblock contenido %}